[build]
builder = "NIXPACKS"

[phases.setup]
nixPkgs = ["nodejs_20", "php83", "composer"]

[phases.install]
cmds = [
  "npm config set cache /tmp/npm-cache --global",
  "mv node_modules node_modules_bak 2>/dev/null || true",
  "npm install --legacy-peer-deps --no-fund --omit=dev",
  "npm run build",

  "composer install --no-dev --optimize-autoloader"


  # Fix manifest location
  "node scripts/fix-manifest.js",

  # Install PHP dependencies
  "composer install --no-dev --optimize-autoloader",
   "php artisan migrate --force",
   "php artisan db:seed --force"
>>>>>>> 455b83c21e95d1054bdb9d5da11d12f8cfdff3eb
]

[env]
PORT = "8080"

[deploy]
startCommand = "php -S 0.0.0.0:$PORT -t public"
